<% if current_user %>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @user %>
          <%= form_for(@post, url: receive_post_path(@user.id), :html => { :multipart => true }) do |f| %>
            
          <% end %>
        <% else %>
          <%= form_for(@post, :html => { :multipart => true }) do |f| %>
            
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
<% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="margin-top: 0px;">
          <a href="<%=user_path(post.user)%>"><%= post.user.name %></a>
         
        </h4>
        <% if post.image.url != '/images/original/missing.png' %>
          <div align="center" style="margin-bottom: 1em;">
            <%= image_tag post.image.url, style: "max-width: 100%; max-height: 500px;" %>
          </div>
        <% end %>
        <%= post.message %>
      </div>
    </div>
<% end %>